<div class="container">
  <div class="header">
    <div class="row g-2">
      <div class="col-2">
        <h4 class="textcolor">CATEGORIES</h4>
      </div>
      <div class="col-2">
        <button
          type="button"
          class="btn food-btn"
        
        >
          ADD CATEGORY
        </button>
      </div>
      <div class="col-3 ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn food-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </div>

<div class="tabledata">
  <div class="row justify-content-start align-items-center">
    <div class="col-1"><p class="textcolor">S.NO.</p></div>
    <div class="col-2"><p class="textcolor">IMAGE</p></div>
    <div class="col-3"><p class="textcolor">NAME</p></div>
    <div class="col-3"><p class="textcolor">SUB-CATEGORIES</p></div>
    <div class="col-3"><p class="textcolor">ACTION</p></div>
  </div>
  <div class="row justify-content-start align-items-center" *ngFor="let item of pageSlice; let i = index">
    <div class="col-1">
      <span>{{ i + 1 }}</span>
    </div>
    <div class="col-2">
     
      <img [src]="item.img" class="images" alt="">
  
    </div>
    <div class="col-3">
      <span>{{ item.name }}</span>
    </div>
    <div class="col-3">
    
        <a class="links" routerLink="/dashboard/subcate"> View</a>
     
    </div>
    <div class="col-3">
      <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog</button> -->
      <a class="links" (click)="deleteSubject(item._id)">Delete</a>/
      <a
      class="links"
        (click)="editSubject(i)"
        data-bs-toggle="modal"
        data-bs-target="#addSubject"
        >Edit</a
      >
    </div>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="subjectData.length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
</div>
<!--add subject Modal -->
<div
  class="modal fade"
  id="addCate"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Categories</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addSubjectForm" (ngSubmit)="addSubject()">
          <div class="mb-3">
            <label for="title" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>
          <div
            *ngIf="getControl['name'].touched && getControl['name'].invalid"
            class="text-danger"
          >
            <div *ngIf="getControl['name'].errors?.['required']">
              Name is required.
            </div>
          </div>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
            Add
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>
