<div class="container">
  <div class="header">
    <div class="row g-2">
      <div class="col-5">
        <h4 class="textcolor">
          <a
            routerLink="/dashboard/categories"
            class="text-decoration-none links"
            >CATEGORIES /</a
          >
          SUB-CATEGORIES
        </h4>
      </div>
      <div class="col-3">
        <button
          type="button"
          class="btn food-btn"
          data-bs-toggle="modal"
          data-bs-target="#addCate"
        >
          ADD SUB-CATEGORY
        </button>
      </div>
      <div class="col-3 ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn food-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="tabledata">
    <div class="row justify-content-start align-items-center">
      <div class="col-1"><p class="textcolor">S.NO.</p></div>
      <div class="col-2"><p class="textcolor">IMAGE</p></div>
      <div class="col-3"><p class="textcolor">NAME</p></div>
      <div class="col-3"><p class="textcolor">PRODUCTS</p></div>
      <div class="col-3"><p class="textcolor">ACTION</p></div>
    </div>
    <div class="row justify-content-start align-items-center" *ngFor="let item of pageSlice; let i = index">
      <div class="col-1">
        <span>{{ i + 1 }}</span>
      </div>
      <div class="col-2">
       
        <img [src]="item.img" class="images" alt="">
    
      </div>
      <div class="col-3">
        <span>{{ item.name }}</span>
      </div>
      <div class="col-3">
      
          <a class="links" routerLink="/dashboard/product"> View</a>
       
      </div>
      <div class="col-3">
        <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog</button> -->
        <a class="links" >Delete</a>/
        <a
        class="links"
         
          data-bs-toggle="modal"
          data-bs-target="#addSubject"
          >Edit</a
        >
      </div>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="headingData.length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

</div>
<!--add Heading Modal -->
<div
  class="modal fade"
  id="addHeading"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Add Sub-Category
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addHeadingForm" (ngSubmit)="addHeading()">
          <div class="mb-3">
            <label for="title" class="form-label">Sub-Category</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>

          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
            Add
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- edit modal -->
<div
  class="modal fade"
  id="editHeading"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edit Sub-Category
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addHeadingForm" (ngSubmit)="updateHeading()">
          <div class="mb-3">
            <label for="title" class="form-label">Sub-Category</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="emailHelp"
              formControlName="name"
            />
          </div>

          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
            Update
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
